{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Instalysis</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static "css/linearicons.css" %}">
		<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
		<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "css/nice-select.css" %}">
		<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "css/main.css" %}">
	</head>
	<body>
		<div class="main-wrapper-first">
			<header>
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="index.html"><img src="img/logo.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="banner-area">
				<div class="container">
					<div class="row justify-content-center height align-items-center">
						<div class="col-lg-8">
							<div class="banner-content text-center">
								<span class="text-white top text-uppercase">Re-imagining the way</span>
								<h1 class="text-white text-uppercase">We grow you reach and connections, Guaranteed</h1>
								<a href="#subs" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Start Feature Area -->
			<section class="featured-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-sun"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Estimate your post's reach</h6>
									<p>Here, we look at estimating how many people around the world might actually view your post.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-code"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Generate Hashtags</h6>
									<p>Given a caption, we generate hashtags for you in such a way that it maximizes your reach.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-clock"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Caption Generation</h6>
									<p>Given a photo, we generate a caption in such a way that the hashtags generated from caption maximize your reach.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Feature Area -->
			
			
		<div class="main-wrapper">
			<!-- End Amazing Works Area -->
			<!-- Start Story Area -->
			<section class="story-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="story-title">
								<h3 class="text-white">Our Untold Story</h3>
								<span class="text-uppercase text-white">Re-imagining the way</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="story-box">
								<h6 class="text-uppercase">From the part of beginning</h6>
								<p>Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization. Societies are becoming more inter-connected. Marketing is getting easier but trickier and we try to keep it just easy and not tricky for you guys!</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- End Story Area -->
			<!-- Start Subscription Area -->
			<section id="subs" class="subscription-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="section-title text-center">
								<h3>Estimate Your Reach</h3>
								<span class="text-uppercase">Re-imagining the way</span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div id="mc_embed_signup">
			
									<input type="followers" id="txt_name" name="FOLLOWERS" placeholder="Number of Followers" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number of Followers'">
									<div style="position: absolute; left: -5000px;">
										
									</div>
									<input type="caption" id="txt_name2"  name="CAPTION" placeholder="Caption" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Caption'">
									<div style="position: absolute; left: -5000px;">										
									</div>
									<button class="primary-btn hover d-inline-flex align-items-center" id="reply"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></button>
									<div class="info"></div>
								<br><br>
								<div class="col-lg-6">
							<div class="story-box">
								<h6 class="text-uppercase">Estimation By Our Software</h6>
								<div id="answer">
										<p>Our Software has estimated the following:</p>
								</div>
								<div id="accs"></div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Subscription Area -->
			<!-- Start Footer Widget Area -->
			<section class="footer-widget-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-pushpin"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Address</h6>
									<p>Hyderabad</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-earth"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Email Address</h6>
									<div class="contact">
										<a href="#">xyz@xyz.com</a> <br>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-widget d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-phone"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Phone Number</h6>
									<div class="contact">
										<a href="#">{{context}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			 <!-- Modal -->
			   <!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
		</div>
			<!-- End Footer Widget Area -->
			<!-- Start footer Area -->
			<footer>
				<div class="container">
					<div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
						
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->
		</div>
		<script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
		<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
		<script src="{% static "js/owl.carousel.min.js" %}"></script>
		<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
		<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script>
		$('#reply').click(function(){
			var followers = $('#txt_name').val();
			var caption = $('#txt_name2').val();
			console.log(followers)
			$.ajax({
			  url : '/analysis/getresponse/'+followers+'/'+caption+'/',
			  dataType : 'json',
			  type : 'GET',
			  success: function(data)
			  {
				document.getElementById('accs').innerHTML=`${data['reach_pred']}, suggested hashtags are ${data['hashtag_suggest']}`
			  }
			})
		  });
		</script>
	
	</body>
</html>
